<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="de.nilsfo.lockscreennotes.LockScreenNotes"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <receiver
            android:name="de.nilsfo.lockscreennotes.receiver.BootReceiver"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="de.nilsfo.lockscreennotes.receiver.NotificationDismissedReceiver"
            android:exported="false" />
        <receiver
            android:name="de.nilsfo.lockscreennotes.receiver.NotificationDeleteReceiver"
            android:exported="false" />
        <receiver
            android:name="de.nilsfo.lockscreennotes.receiver.NotificationBrowseURLReceiver"
            android:exported="false" />
        <receiver
            android:name="de.nilsfo.lockscreennotes.receiver.LSNAutoBackupReceiver"
            android:exported="false" />

        <!--
        TODO: This is an attempt at a "desktop" widget. Reuse this code if you ever want to pursue this idea again.
        <receiver android:name="de.nilsfo.lockscreennotes.receiver.widget.GeneralWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/general_appwidget_info" />
        </receiver>
        -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.nilsfo.lockscreennotes.LockScreenNotes.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name="de.nilsfo.lockscreennotes.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.nilsfo.lockscreennotes.activity.EditNoteActivity"
            android:label="@string/app_name"
            android:parentActivityName="de.nilsfo.lockscreennotes.activity.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.nilsfo.lockscreennotes.activity.MainActivity" />
        </activity>

        <activity
            android:name="de.nilsfo.lockscreennotes.activity.NoteSharingListenerActivity"
            android:exported="true"
            android:parentActivityName="de.nilsfo.lockscreennotes.activity.MainActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:label="@string/share_via_this_app">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
                <!-- <data android:mimeType="text/plain" -->
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.nilsfo.lockscreennotes.activity.MainActivity" />
        </activity>

        <activity
            android:name="de.nilsfo.lockscreennotes.activity.SettingsActivity"
            android:parentActivityName="de.nilsfo.lockscreennotes.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.nilsfo.lockscreennotes.activity.MainActivity" />
        </activity>

        <activity
            android:name="de.nilsfo.lockscreennotes.activity.NotificationDeleteRecieverDialogActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name="de.nilsfo.lockscreennotes.activity.dummy.NotificationBrowseContentActivity"
            android:theme="@android:style/Theme.NoDisplay" />
    </application>

</manifest>